<h1 class="page-title">¡Bienvenido a nuestra web de compras!</h1>
<hr>

<h2 class="section-title">Lista de todos los productos</h2>

<ol class="product-list">
    {{#each products}}
    <li>
        <div class="product-item">
            <span class="product-title">{{this.title}}</span>
            <span class="product-price">${{this.price}}</span>
        </div>
    </li>
    {{/each}}
</ol>

<link rel="stylesheet" href="/css/styles.css">